# Node modules
node_modules/

# Environment variables
.env

# Firebase service key
serviceAccountKey.json

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
