/* Page background */
.signup-page {
  background-color: #b7a892; /* beige background */
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

/* Form container */
.signup-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.signup-form {
  background-color: #5e4a3a; /* brown form background */
  padding: 40px;
  border-radius: 2px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.signup-form label {
  color: black;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.signup-form input {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #d9d9d9; /* light grey fields */
}

/* Create Account Button */
.create-account-btn {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1rem;
}

.create-account-btn:hover {
  opacity: 0.9;
  background-color: rgb(23, 10, 48);
  transition: all 0.3s;
}

/* Divider */
.divider {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  margin: 10px 0;
}

/* Google Button */
.google-btn {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn img {
  width: 20px;
  margin-right: 8px;
}

.google-btn:hover {
  opacity: 0.9;
  background-color: rgb(60, 11, 11);
  transition: all 0.3s;
}

/* Forgot Password Link */
.forgot-password a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: bold;
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

/* Don't have an account section */
.signup-bottom {
  text-align: center;
  margin-top: 18px;
  color: #ffffff;
  font-size: 1rem;
}

.signup-bottom a {
  color: #0602ff8e;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.signup-bottom a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}
